@charset "UTF-8";
li {
  list-style: none;
}

.content {
  position: relative;
  text-align: center;
  margin-top: 150px;
  z-index: 1;
}

.todo-container {
  display: inline-block;
  width: 1000px;
  height: 400px;
  border-radius: 20px;
  background-color: rgba(192, 229, 200, 0.75);
}

li button {
  margin-left: 20px;
}

.hidden {
  display: none;
}

img {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#clock {
  font-size: 80px;
  color: #d3f1ff;
}

#quote {
  margin-top: 30px;
}

span {
  font-size: 23px;
  font-weight: 400;
  color: #3c4549;
}

#quote span {
  color: #d3f1ff;
}

#greeting, #greeting2 {
  font-size: 30px;
  margin: 15px 0;
}

#weather {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

#weather span {
  color: #d3f1ff;
}
